{% extends "home/base.html" %}
{% block content %}
<div class="cadastramento">
    <form 
        class='cadastro_cliente_form'
        action="{{form_action}}"
        method="POST">

        {% csrf_token %}    
        {% for field in form %}
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field}}
            {% if field.errors  %}
                <div class="erros_criar_conta">
                    {{field.errors}}
                </div>
            {% endif %}
            
            
        {% endfor %}
        <button class= button type="submit">Criar Conta</button>
        <a href="{% url 'home:login' %}">Log-in</a>
    </form>
{% endblock content %}